// Note: This is variables


// Font family
$font-family: 'Poppins', sans-serif;

// Font-size
$body-font-size: 15px;

// Define colors
$text-color: #333333;
$primary-color: #1EBBA3; 
$border-color: #F1F1F1;
$color-white:#fff;
$color-black:#000;
$body-bg:#fff;
$color-gray:#FBFBFB;
$color-graywhite:#f6f6f6;

// Define body resets
$body-line-height: 26px;
$body-font-weight: 400;

// Define input button height
$input-button-height:50px;